/*PARTE DE LA PAGINA CON GRID*/
header,footer{
    margin-left: 20vw;
    color:blue;
}

section{
    width: 60%;
    height: 70vh;
    margin-left: 20vw;
    display:grid;
    grid-template-columns: repeat(3,1fr);
}

#uno{
    background-color: brown;
    background-image: url("img/zapas6.jpg");
}
#dos{
    background-color: chartreuse;
    background-image: url("img/ropa2.jpg");
}
#tres{
    background-color: chocolate;
    background-image: url("img/ropa.jpeg");
}
#cuatro{
    background-color: cornflowerblue;
    background-image: url("img/zapas4.jpg");
}

#cinco{
    background-color: rgb(0, 173, 66);
}

#seis{
    background-color: rgb(146, 19, 146);
}

/*Parte RESPONSIVE*/
/*---------------------------RESPONSIVE PARA MOVILES----------------------------------------------*/
@media (max-width: 767px) {

    section{
        width: 60%;
        height: 70vh;
        margin-left: 20vw;
        display:grid;
        grid-template-columns: repeat(1,1fr);
    }  
}

/*-------------------------------RESPONSIVE PARA TABLETS-----------------------*/
@media (min-width: 768px) and (max-width: 1400px) {

    section{
        width: 60%;
        height: 70vh;
        margin-left: 20vw;
        display:grid;
        grid-template-columns: repeat(2,1fr);
    }  
}